{{define "login"}}
    {{template "header"}}
    <div class="container" style="height: 485px">
        <form action="/welcome" method="post" style="padding: 10% 25% 0;">
            <h1>Login</h1>
            <div class="form-group">
                <label for="usernamefield">Email address</label>
                <input type="email" class="form-control" id="usernamefield" name="username" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
                <label for="passwordfield">Password</label>
                <input type="password" class="form-control" id="passwordfield" name="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    {{template "footer"}}
{{end}}