{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title>BookSearchGo</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://dl.dropbox.com/s/6ezzohv7gud1izt/landing-page.css?dl=0" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <a class="navbar-brand" href="/">BookSearchGo</a>
        </div>
    </nav>
{{end}}

{{define "footer"}}
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="https://golang.org/" target="_blank">Made with Go</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="https://github.com/Noctis0712/BookSearchGo" target="_blank">Source</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">Noctis0712 &sdot; 2019.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
{{end}}